<ion-content padding>

  <h5 padding-left>Usuarios</h5>

  <div *ngIf="form">
    <form [formGroup]="cadastro" (ngSubmit)="insert()">
      <ion-list>
        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div padding>
          <button ion-button block [disabled]="!cadastro.valid" (click)="insert()">GRAVAR</button>
        </div>
      </ion-list>
    </form>
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let p of users">
      <ion-item>
        <span>{{ p.nome }}</span>
        <div *ngIf="dados">
          <p>Id: {{ p.id }}</p>
          <p>E-mail: {{ p.email }}</p>
          <p>Cadastro: {{ p.dataCadastro | date: 'dd/MM/yyyy' }}</p>
          <p>Senha: {{ p.password }}</p>
        </div>
        <ion-icon name="ios-arrow-back-outline" item-right></ion-icon>
      </ion-item>
      <ion-item-options>
        <button color="primary" ion-button icon-only (click)="update(p)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button color="danger" ion-button icon-only (click)="delete(p)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <div></div>
  </ion-list>

  <ion-fab right edge>
    <button ion-fab mini color="danger" (click)="showForm()">
      <ion-icon name="{{ iconForm }}"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab mini color="primary" (click)="showData()">
      <ion-icon name="eye"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
