<ion-content padding>
  <h5 padding-left>Produtos</h5>
  <ion-list>
    <ion-item-sliding *ngFor="let p of products">
      <ion-item>
        <span>{{ p.nome }}</span>
        <p *ngIf="mostrar">{{ p.categoria | json }}</p>
        <span item-right>{{ p.preco | currency:'BRL':true:'1.2-2' }}</span>
        <ion-icon name="ios-arrow-back-outline" item-right></ion-icon>
      </ion-item>
      <ion-item-options>
        <button color="primary" ion-button icon-only (click)="update(p)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button color="danger" ion-button icon-only (click)="delete(p)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <div></div>
  </ion-list>

  <ion-fab right edge>
    <button ion-fab mini color="danger" (click)="insert()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab mini color="secondary" (click)="mostraNome()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
